body {
    background: crimson;
    color: white;
}

h3 {
    color: black;
}

iframe { 
    width: 100%;
    height: 100vh;
}

.fa-cog {
    display: none;
}

#contac {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.card {
    background: #007bff;
    
}

.col-md-4 {
    /* background: crimson; */
    border: none;
}

.col-md-4 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

nav {
    background: white;
}

div.seccion {
    padding: 40px 0;
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    margin: 30px auto;
    width: 80%;
}

h1 {
    margin: 40px 30px 0 30px;
}

form {
    margin: 30px 30px;
}

ul {
    list-style: none;
}

#botonEnviar {
    background: white;
}

input[type="submit"]{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

input[type="radio"] {
    border: none;
    outline: none;
}

footer {
    background: white;
    color: #007bff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    font-weight: bold;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer .disclaimer {
    text-decoration: underline;
}

.last-m {
    background: #007bff;
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 30px;
}

.logo { 
    width: 150px;
    background: #032123;
    border-radius: 10px;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.1);
}

#solicitud-empleo {
    color:#032123;
    max-width: 700px;
    margin: 50px auto;
    font-size: 16px;
    border: 2px solid #a61717; /* Borde sólido de 2 píxeles con color #333 */
    border-radius: 20px;    /* Borde circular */
    padding: 20px;          /* Espacio interno dentro del formulario */
    background: white;
}

#solicitud-empleo .out-inputs{
    margin-left: 30px;
}

#solicitud-empleo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#solicitud-empleo input {
    background-color:transparent;
    color: #032123;
    /* border: 2px solid #001aff; */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: #5e96d2;
    border: 2px solid #1d76d5;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.registro input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

#nos img {
    border-radius: 50%; /* Establece un borde redondo */
    width: 400px; /* Ancho de la imagen */
    height: 400px; /* Altura de la imagen */
    object-fit: cover; /* Controla el ajuste de la imagen en el contenedor */
}

@media only screen and (max-width: 768px) {
    #nos img {
        width: 200px;
        height: 200px;
    }

    #nos table .text{
        font-size: 24px;
    }

    body {
        background-color: lightblue;
    }

    .top {
        flex-flow: column;
    }

    #prin h1 {
        font-size: 10px;
    }

    .top img { 
        width: 100px;
    }
}

@media only screen and (max-width: 425px) {
    
}

/* Animación para imágenes */
#nos img:hover {
    transform: scale(1.1); /* Aplica un aumento de escala al pasar el ratón por encima */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

#prin{
    margin-top: 80px;
    color:wheat;
    text-align: center;
    max-width: 800px; 
    margin: 0 auto; 
}

/* Estilo para las imágenes */
#prin img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
    height: auto; /* Mantiene la relación de aspecto de las imágenes */
}

/* Estilo para los títulos */
#prin h1, h2 {
    text-align: center; /* Centra los títulos */
}

/* Estilo para los párrafos */
#prin p {
    text-align: justify; 
    text-indent: 1em; 
    margin: 10px 0; 
    line-height: 1.5; 
}

/* Estilo para la lista con viñetas */
#prin li {
    list-style-type: disc; /* Tipo de viñeta (puedes cambiarlo a tu preferencia) */
    margin-left: 1em; /* Espacio entre el borde izquierdo y el texto de la lista */
}

p {
    margin: 0;
}

table {
    text-align: justify;
}

td[colspan="2"] {
    padding-top: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#nos {
    margin: 50px;
}

#nos h2 {
    font-size: 52px;
}

#encuentranos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#encuentranos .dir {
    flex: 0 1 auto;
    padding: 0 20px;
}

#encuentranos .dir h2 {
    font-size: 20px;
}

#encuentranos .frame {
    flex: 1 1 auto;
}

div.form-group {
    width: 200px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img{
    width: 300px;
}

.top div {
    padding: 0 30px;
}

a[data-target="#modalPassword"] {
    color: #007bff;
}

.wrapper {
    margin: 40px auto 84px;
    border-radius: 15px;
    background: white;
    width: 400px;
}

.user-info {
    /* background: white; */
    border-left: 1px solid rgb(143, 143, 143);
    border-right: 1px solid rgb(143, 143, 143);
    border-top: 1px solid rgb(143, 143, 143);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info.div0 {
    border-radius: 15px 15px 0 0;
}

.user-info.div3 {
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid rgb(143, 143, 143);
}

.user-info div {
    display: flex;
    flex-flow: column;
    width: 60%;
    padding: 15px 0;
    /* background-color: #007bff; */
}

.user-info a, .containerC a.formulario, input#miFormulario {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}

.user-info a:hover {
    background: #001aff;
}

.peril-footer footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.slide {
    width: 90%; 
    aspect-ratio: 16/9;
    /* margin: auto; */
}

.slide .carousel-item {
    width: 100%;
    height: 100%;
    background: #001aff;
}

.slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.slide h5, .slide p {
    text-shadow: 2px 2px black;
}

.containerC {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerC .dynamic {
    padding: 50px;
    text-align: center;
}

.containerC .divf {
    margin: 50px auto;
}

.containerC a.formulario{
    padding: 10px 20px;
}

.containerC h1 {
    margin-bottom: 40px;
}

.contenedor{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "header header header"
                        "sidebar-1 sidebar-1 sidebar-1"
                        "sidebar-1 sidebar-1 sidebar-1"
                        "footer footer footer"



                    }

.contenedor .header{
    background:transparent;
    grid-column-start: 1;
    grid-column-end: 4;

    /*grid-column-start: 1;
    grid-column-end: 4;*/

}

.contenedor .sidebar-1{
background :#ab0fd2;
grid-column-start: sidebar-1;
grid-column-end: sidebar-1;
grid-row-start: sidebar-1;
grid-row-end: sidebar-1;

padding: 300px;
/* grid-column: sidebar-l;
grid-row: sidebar-l; 8 */
grid-area: sidebar-1;

}


    .contenedor .footer{
    background :#05070a;
    grid-area: footer;
    }

    .contenedor{
        width:90%;
        max-width: 1350px;
        border: 10px solid #c84d4d;
        margin:auto;
        font-size: 50px;
        line-height: 50px;
        text-align: center;    
   }
   
   .contenedor > div{
       display:block;
       padding: 20px;
       color: #fff;
       background: #899eba;
       box-shadow: 2px 2px 10px rgba(0,0,0,.25);
   }